body {
    
 font-family: arial;   
}

#rhs {

  float: right;
  width: 350px;
  margin-right: 200px;
  margin-top : 100px;
}

thead {
    
    background-color: #77CC55;
}

tbody {
 
  background-color: #CCDD55;   
}

td,th {

 border: 2px solid black;
 margin: 0px;
 padding: 0px;
 width: 100px;
}

td.unused {
 
 background-color: black;   
}

.date {

 font-style: bold;
 color: blue;
 font-size: 0.8em;
 display: block;
 border-bottom: 1px solid black;
 margin-bottom: 10px;
 height : 14px;
}

.events {
    
    display: block;
    padding: 10px;
    
}

.event {
 
    font-size: 0.7em;
    list-style-type: none;
}

h2, button {
    
    display: inline;
    margin: 20px;
}