<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="com.appagility.viewfirstjs.java" use-default-filters="false">
	    <context:include-filter expression="org.springframework.stereotype.Controller" type="annotation" />
	</context:component-scan>

	<mvc:annotation-driven>
		<mvc:argument-resolvers>
			<bean
				class="com.appagility.viewfirstjs.java.atmosphere.AtmosphereArgumentResolver" />
		</mvc:argument-resolvers>
	</mvc:annotation-driven>
    
    	<mvc:resources mapping="*.html" location="/static/" />
    	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonConverter" />
			</list>
		</property>
	</bean>

	<bean id="jsonConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes" value="application/json" />
	</bean>

	<bean id="jaxbJacksonObjectMapper" class="com.appagility.viewfirstjs.java.atmosphere.JaxbJacksonObjectMapper" />

</beans>
